/*   #99D3DF   */
/*   #88BBD6   */
/*   #CDCDCD   */
/*   #E9E9E9   */
body {
    padding: 0;
    margin: 0;
    background-color: #E9E9E9;
    /*background-color: #CDCDCD;*/
    color: #676767;
    font-family: sans-serif;
}

#root {

}

body a {
     color: #020075;
     text-decoration: none;
     transition: color 250ms, text-shadow 250ms;
}

body a:hover {
    color: #0200bf;
    text-decoration: underline;
    transition: color 150ms, text-shadow 250ms;
}

.button {
    background-color: transparent;
    height: 21px;
    line-height: 21px;
    text-align: center;
    color: #676767;
    margin: 3px 5px;
    font-weight: bold;
    font-size: 14px;
    padding: 1px 18px;
    border: 1px solid #676767;
    transition: color 250ms, text-shadow 250ms, background-color 250ms;
}

.button.button-white {
    color: white;
    border: 1px solid white;
}

.button:hover {
    background-color: #676767;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 2px white;
    transition: color 250ms, text-shadow 250ms, background-color 250ms;
}

.button.button-white:hover {
    background-color: transparent;
    cursor: pointer;
    text-shadow: 0 0 5px white;
}

.button.disabled {
    cursor: not-allowed;
}

.button.disabled:hover {
    cursor: not-allowed;
}